<p id="notice"><%= notice %></p>

<h1>Movie Lists</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    
      <tr>
        <td></td>
        <td><%#= movie_list.price %></td>
        <td><%#= link_to 'Shows', shows_path %></td>
        <td><%#= link_to 'Edit', edit_movie_list_path(movie_list) %></td>
        <td><%#= link_to 'Destroy', movie_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    
  </tbody>
</table>

<br>

<%= link_to 'New Movie List', new_movie_list_path %>

<div class="general">
    <div class="container">
          <% @movie_lists.each do |movie_list| %>

            <div class="w3_agile_featured_movies">
              <div class="col-md-2 w3l-movie-gride-agile">
                <a href="single.html" class="hvr-shutter-out-horizontal"><img src="assets/m15.jpg" title="album-name" class="img-responsive" alt=" " />
                  <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
                </a>
                <div class="mid-1 agileits_w3layouts_mid_1_home">
                  <div class="w3l-movie-text">
                    <h6><%= link_to movie_list.name, shows_path(:movie=>movie_list) %></h6>              
                  </div>
                </div>
                <!-- <div class="ribben">
                  <p>NEW</p>
                </div> -->
              </div>
              </div>
            </div>
          <% end %>  
    </div>
  </div>