<p id="notice"><%= notice %></p>
<div style="background-image: url('/assets/check-banner.jpg');  background-size: cover; background-repeat: no-repeat; height:relative; " ;>
  <style>
  h1,h2 {
    color: white;
    text-align: center;
}</style>


<h1>Now Playing</h1>

<div class="general">

    <div class="container">
      
          <% @movie_lists.each do |movie_list| %>


            <div style="text-align:relative">
              <div class="col-md-2 w3l-movie-gride-agile">
                               <!--  <a href="single.html" class="hvr-shutter-out-horizontal"><img src="assets/m15.jpg" title="album-name" class="img-responsive" alt=" " />
                  
                </a> -->
                
                           
                </div>
                  <div class="col-md-2 w3l-movie-gride-agile">
                <!-- <a href="single.html" class="hvr-shutter-out-horizontal"><img src="assets/m2.jpg" title="album-name" class="img-responsive" alt=" "  /> -->
                  <%= image_tag(movie_list.image) if movie_list.image? %>
                  <h6><%= link_to movie_list.name, shows_path(:movie=>movie_list) %></h6>   
                
             <!--    </a> -->
    </div>

                <!-- <div class="ribben">
                  <p>NEW</p>
                </div> -->
            
 <%end%>
              
         

         </div>

       
        </div>

      </div>
     
      <div class="general">

    <div class="container">
          
    <h1>COMING SOON</h1>

<div class="col-md-2 w3l-movie-gride-agile">
                                <a href="single.html" class="hvr-shutter-out-horizontal"><img src="assets/m15.jpg" title="album-name" class="img-responsive" alt=" " />
                  
                </a>
                
                          
                  </div>
                 
                     <div class="col-md-2 w3l-movie-gride-agile">
                <a href="single.html" class="hvr-shutter-out-horizontal"><img src="assets/m2.jpg" title="album-name" class="img-responsive" alt=" "  />
                
                </a>
       
              </div>
              <div class="col-md-2 w3l-movie-gride-agile">
                <a href="single.html" class="hvr-shutter-out-horizontal"><img src="assets/m5.jpg" title="album-name" class="img-responsive" alt=" " />
                  </a>
                   
                   </div>
                   <div class="col-md-2 w3l-movie-gride-agile">
                <a href="single.html" class="hvr-shutter-out-horizontal"><img src="assets/m16.jpg" title="album-name" class="img-responsive" alt=" " />
                </a>
              </div>
                <div class="col-md-2 w3l-movie-gride-agile">
                <a href="single.html" class="hvr-shutter-out-horizontal"><img src="assets/m17.jpg" title="album-name" class="img-responsive" alt=" " />
                </a>
              </div>
              <div class="col-md-2 w3l-movie-gride-agile">
                <a href="single.html" class="hvr-shutter-out-horizontal"><img src="assets/m18.jpg" title="album-name" class="img-responsive" alt=" " />
                </a>
              </div>
              
                 </div>
</div>
</div>




    